    
    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <h3 class="right">Welcome to {{title}}</h3>
          <hr>
          <div class="row">
            <div class="small-12 large-6 medium-6 columns">
                <h5>Mood</h5>
                <select class="large-4 columns">
                  <option value="++">++</option>
                  <option value="+" selected="selected">+</option>
                  <option value="0">0</option>
                  <option value="-">-</option>
                  <option value="--">--</option>
                </select>
            
            </div>
            <div class="small-12 large-6 medium-6 columns end">
                <h5>Work</h5>
                <select class="large-4 columns">
                  <option value="0">Didn't work</option>
                  <option value=".5">Half day</option>
                  <option value="1" selected="selected">Full day</option>
                  <option value="1.5">Overtime</option>
                </select>
            </div>
       
          </div>
          <br>

          <div class="row">
            <div class="small-12 large-6 medium-6 columns">
                <h5>Exercise</h5>
                <input id="checkbox1" type="checkbox">
                <input id="checkbox2" type="checkbox">
                <input id="checkbox3" type="checkbox">
                <label for="checkbox3">Jumping Jacks</label>
                <br>
                <input id="checkbox1" type="checkbox">
                <input id="checkbox2" type="checkbox">
                <input id="checkbox3" type="checkbox">
                <label for="checkbox3">Si Lim Tao</label>
                <br>
                <input id="checkbox1" type="checkbox">
                <input id="checkbox2" type="checkbox">
                <input id="checkbox3" type="checkbox">
                <label for="checkbox3">Punches</label>
                <br>
                <input id="checkbox1" type="checkbox">
                <input id="checkbox2" type="checkbox">
                <input id="checkbox3" type="checkbox">
                <label for="checkbox3">WC Pushups</label>                              
                <br>

              </div>

            <div class="small-12 large-6 medium-6 columns end">
                <h5>Meditation</h5>
                <input id="checkbox1" type="checkbox">
                <input id="checkbox2" type="checkbox">
                <input id="checkbox3" type="checkbox">
                <label for="checkbox3">Breath</label>
                <br>
                <input id="checkbox1" type="checkbox">
                <input id="checkbox2" type="checkbox">
                <input id="checkbox3" type="checkbox">
                <label for="checkbox3">Smoke</label>
                <br>

                <input id="checkbox1" type="checkbox">
                <input id="checkbox2" type="checkbox">
                <input id="checkbox3" type="checkbox">
                <label for="checkbox3">#3</label>
                <br>

                <input id="checkbox1" type="checkbox">
                <input id="checkbox2" type="checkbox">
                <input id="checkbox3" type="checkbox">
                <label for="checkbox3">#4</label>
                <br>

            </div>        
          </div>
          <br>
          <div class="row">
            <div class="small-12 large-5 medium-5 columns">
              
              <h5>Notes</h5>
              <textarea placeholder="How was your day? What did you accomplish? What are you feeling?" rows="12"></textarea>
            </div>
          
          </div>
          <div class="row">
            <div class="large-6 medium-6 columns">

              <a href="#" class="small round button">SAVE</a><br/>       
            </div>
          </div>
        </div>
      </div>
    </div>



      </div>
    </div>

